<div>
  <span> StockCode :</span> <%= select_tag(:stockcode, options_for_select(@stocks.inject([]) { |arr, stock| arr << [stock.symbol, stock.id] })) %>
  <%= submit_tag('Chart', :id => 'chart_button') %>
</div>
<div id="data_area"></div>
<script type="text/javascript">
    $('#chart_button').bind('click', function(event) {
        var stock_id = $('#stockcode option:selected')[0].value;
        $.get('/chart/'+stock_id, function(data) {
            $('#data_area').html(data);
        });
        event.preventDefault();
    });
</script>
