<div>
  <label>StockCode >
    <input id="stockcode"/>
  </label>
</div>
<div id="data_area"></div>
<script type="text/javascript">
    $(document).ready(function() {
        $("input#stockcode").autocomplete({
            source: [<%= @stocks.collect!{ |s| "'#{s.symbol}'" }.join(',') %>],
            select: function(event) {
                var stock_id = $('#stockcode').val();
                $.get('/chart/' + stock_id, function(data) {
                    $('#data_area').html(data);
                });
                event.preventDefault();
            }
        });
    });

</script>
