body {
    font-size: small;
    font-family: Monaco, Consolas, monospace;
    margin-top: 1px;
}

.fo_CE, .fo_CA {
    background-color: #d1ffd1;
    float: left;
}

.fo_PE, .fo_PA {
    background-color: #ffc4c4;
    float: left;
}

#navigation {
    height: 31px;
    padding-bottom: 10px;
}

#navigation ul,
#navigation ul li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 28px;
}

#navigation ul {
    height: 31px;
    background: url('/images/navigation.png') repeat-x 0 -41px;
}

#navigation ul li a {
    float: left;
    display: block;
    height: 31px;
    padding: 0 8px;
    color: #ccc;
    text-decoration: none;
    background: url('/images/navigation_s.png') no-repeat right top;
}

#navigation ul li.selected a {
    color: #fff;
}

#navigation ul li.last a {
    background-image: none;
}

#navigation ul li a:hover {
    color: #fff;
}

.red {
    color: #ff2020;
}

.green {
    color: green;
}

.gray {
    color: #ccc;
}

.returns {
    padding: 4px;
}

.returns span {
    border-right: 1px solid #b0c4de;
    padding-right: 5px;
}

table, table td, table th {
    border: 1px solid #222;
    border-collapse: collapse;
    padding: 3px;
    text-align: right;
}

#holding_list, #transaction_list {
    margin: 10px;
}

#company_actions {
    height: 400px;
    overflow: scroll;
    overflow-style: scrollbar;
    float: right;
}

#holdings {
    float: left;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

line {
    shape-rendering: crispEdges;
    stroke-width: 2;
}

line.tick {
    stroke: #EEE;
    shape-rendering: crispEdges;
    stroke-width: 1;
}

line.red {
    stroke: #ED7E7E;
}

line.green {
    stroke: #46E871;
}

line.cursor_axis {
    stroke: #B3ABAB;
}

svg {
    background-color: #fffdf6;
}

#mychart svg {
    box-shadow: 5px 5px 2px #c2c2c2;
}

path {
    stroke-width: 2;
    fill: none;
}

.domain {
    stroke-width: 1;
}

.mov_avg_10d {
    opacity: 0.6;
    stroke: #9cf5ff;
    background-color: #9cf5ff;
}

.mov_avg_50d {
    opacity: 0.5;
    stroke: #feb32a;
    background-color: #feb32a;
}

.mov_avg_200d {
    opacity: 0.5;
    stroke: #dbca93;
    background-color: #dbca93;
}

.volume {
    fill: #92d6ff;
    background-color: #92d6ff;
    opacity: 0.5;
}

.chart_meta > .returns, .chart_meta > .legend, .chart_meta > .title {
    float: left;
}

.legend {
    padding: 2px;
    margin: 3px;
}

.chart_meta > .title {
    font-weight: bolder;
    padding: 2px;
    margin: 3px 20px 3px 20px;
    color: #ED7E7E;
}