body {
    font-size: small;
    font-family: Monaco, Consolas, monospace ;
    margin-top: 1px;
}

.fo_CE, .fo_CA {
    background-color: #d1ffd1;
    float: left;
}

.fo_PE, .fo_PA {
    background-color: #ffc4c4;
    float: left;
}

#navigation {
    height: 31px;
    padding-bottom: 10px;
}

#navigation ul,
#navigation ul li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 28px;
}

#navigation ul {
    height: 31px;
    background: url('/images/navigation.png') repeat-x 0 -41px;
}

#navigation ul li a {
    float: left;
    display: block;
    height: 31px;
    padding: 0 8px;
    color: #ccc;
    text-decoration: none;
    background: url('/images/navigation_s.png') no-repeat right top;
}

#navigation ul li.selected a {
    color: #fff;
}

#navigation ul li.last a{
    background-image: none;
}

#navigation ul li a:hover {
    color: #fff;
}

.red {
    color: #ff2020;
}

.green {
    color: green;
}

.gray {
    color: #ccc;
}

.returns {
    padding: 4px;
}

.returns span {
    border-right: 1px solid #b0c4de;
    padding-right: 5px;
}

table, table td, table th {
    border: 1px solid #222;
    border-collapse: collapse;
    padding: 3px;
    text-align: right;
}

#holding_list, #transaction_list {
    margin: 10px;
}

#company_actions {
    height: 400px;
    overflow: scroll;
    overflow-style: scrollbar;
    float: right;
}

#holdings {
    float: left;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

line {
    shape-rendering: crispEdges;
    stroke-width:2;
}

line.tick {
    stroke: #EEE;
    shape-rendering: crispEdges;
    stroke-width:1;
}

line.red {
    stroke: #ED7E7E;
}

line.green {
    stroke: #46E871;
}

line.cursor_axis {
    stroke: #B3ABAB;
}

svg {
    background-color: #FCFBF0;
}