<div>
  <label>StockCode >
    <input id="stockcode"/>
  </label>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("input#stockcode").autocomplete({
            source:[<%= @stocks.collect!{ |s| "'#{s.symbol}'" }.join(',') %>],
            select:function (event, ui) {
                var stock_id = ui.item.value;
                $(location).attr('href', '/charts/' + stock_id);
            }
        });
    });
</script>
